
__pycache__/

.idea/

myenv/

hello_world/developer_accessKeys.csv

*.hcl

*.backup

*.tfstate

*.exe

/**/.*  # ignore all dotted files
/**/.*/ # ignore all dotted folders
!/.gitignore  # except `gitignore` :)
